--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5 (84bec44)
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: MediaType; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."MediaType" AS ENUM (
    'IMAGE',
    'YOUTUBE',
    'VIDEO'
);


ALTER TYPE public."MediaType" OWNER TO neondb_owner;

--
-- Name: PostStatus; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."PostStatus" AS ENUM (
    'DRAFT',
    'PUBLISHED',
    'ARCHIVED'
);


ALTER TYPE public."PostStatus" OWNER TO neondb_owner;

--
-- Name: ProjectPublishStatus; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."ProjectPublishStatus" AS ENUM (
    'DRAFT',
    'PUBLISHED'
);


ALTER TYPE public."ProjectPublishStatus" OWNER TO neondb_owner;

--
-- Name: ProjectStatus; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."ProjectStatus" AS ENUM (
    'IN_PROGRESS',
    'COMPLETED'
);


ALTER TYPE public."ProjectStatus" OWNER TO neondb_owner;

--
-- Name: ReactionType; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."ReactionType" AS ENUM (
    'LIKE',
    'HEART',
    'HAHA',
    'SAD',
    'ANGRY',
    'SHARE',
    'WOW'
);


ALTER TYPE public."ReactionType" OWNER TO neondb_owner;

--
-- Name: RoleName; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."RoleName" AS ENUM (
    'ADMIN',
    'USER'
);


ALTER TYPE public."RoleName" OWNER TO neondb_owner;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AboutContent; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."AboutContent" (
    id text NOT NULL,
    title text NOT NULL,
    subtitle text NOT NULL,
    description text NOT NULL,
    "youtubeUrl" text NOT NULL,
    "buttonText" text NOT NULL,
    "buttonUrl" text NOT NULL,
    "publishStatus" public."ProjectPublishStatus" DEFAULT 'DRAFT'::public."ProjectPublishStatus" NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."AboutContent" OWNER TO neondb_owner;

--
-- Name: Comment; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Comment" (
    id text NOT NULL,
    "postId" text NOT NULL,
    "userId" text,
    content text NOT NULL,
    "parentCommentId" text,
    "isApproved" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Comment" OWNER TO neondb_owner;

--
-- Name: Course; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Course" (
    id text NOT NULL,
    name text NOT NULL,
    image text,
    title text,
    description text,
    "publishStatus" public."ProjectPublishStatus" DEFAULT 'DRAFT'::public."ProjectPublishStatus" NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "order" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Course" OWNER TO neondb_owner;

--
-- Name: EventImages; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."EventImages" (
    id text NOT NULL,
    location text NOT NULL,
    title text NOT NULL,
    "imageUrl" text NOT NULL,
    "publicId" text NOT NULL,
    "orderNumber" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."EventImages" OWNER TO neondb_owner;

--
-- Name: EventLocation; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."EventLocation" (
    id text NOT NULL,
    name text NOT NULL,
    "publishStatus" public."ProjectPublishStatus" DEFAULT 'DRAFT'::public."ProjectPublishStatus" NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "order" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."EventLocation" OWNER TO neondb_owner;

--
-- Name: FeatureCard; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."FeatureCard" (
    id text NOT NULL,
    title text NOT NULL,
    description text NOT NULL,
    "iconName" text NOT NULL,
    "publishStatus" public."ProjectPublishStatus" DEFAULT 'DRAFT'::public."ProjectPublishStatus" NOT NULL,
    "order" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."FeatureCard" OWNER TO neondb_owner;

--
-- Name: LandingContent; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."LandingContent" (
    id text NOT NULL,
    section text NOT NULL,
    title text,
    subtitle text,
    description text,
    "mainText" text,
    "subText" text,
    "media1Url" text,
    "media2Url" text,
    "media3Url" text,
    "media4Url" text,
    "publishStatus" public."ProjectPublishStatus" DEFAULT 'DRAFT'::public."ProjectPublishStatus" NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "order" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."LandingContent" OWNER TO neondb_owner;

--
-- Name: Media; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Media" (
    id text NOT NULL,
    url text NOT NULL,
    type public."MediaType" NOT NULL,
    "uploadedBy" text,
    "uploadedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "postId" text,
    "mediaId" text
);


ALTER TABLE public."Media" OWNER TO neondb_owner;

--
-- Name: Member; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Member" (
    id text NOT NULL,
    name text NOT NULL,
    role text NOT NULL,
    description text NOT NULL,
    image text NOT NULL,
    email text,
    "publishStatus" public."ProjectPublishStatus" DEFAULT 'DRAFT'::public."ProjectPublishStatus" NOT NULL,
    color text DEFAULT 'blue'::text,
    skills text[] DEFAULT ARRAY[]::text[],
    "isActive" boolean DEFAULT true NOT NULL,
    "order" integer DEFAULT 0 NOT NULL,
    "tabId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Member" OWNER TO neondb_owner;

--
-- Name: Notification; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Notification" (
    id text NOT NULL,
    "userId" text NOT NULL,
    type text NOT NULL,
    title text NOT NULL,
    message text NOT NULL,
    "isRead" boolean DEFAULT false NOT NULL,
    data jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Notification" OWNER TO neondb_owner;

--
-- Name: Post; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Post" (
    id text NOT NULL,
    title text NOT NULL,
    slug text NOT NULL,
    content text NOT NULL,
    status public."PostStatus" DEFAULT 'DRAFT'::public."PostStatus" NOT NULL,
    "authorId" text NOT NULL,
    "githubRepo" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    comments integer DEFAULT 0 NOT NULL,
    likes integer DEFAULT 0 NOT NULL,
    shares integer DEFAULT 0 NOT NULL,
    views integer DEFAULT 0 NOT NULL
);


ALTER TABLE public."Post" OWNER TO neondb_owner;

--
-- Name: PostTag; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."PostTag" (
    "postId" text NOT NULL,
    "tagId" text NOT NULL
);


ALTER TABLE public."PostTag" OWNER TO neondb_owner;

--
-- Name: Project; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Project" (
    id text NOT NULL,
    title text NOT NULL,
    description text NOT NULL,
    href text,
    year integer NOT NULL,
    quarterly text NOT NULL,
    fund text,
    "publishStatus" public."ProjectPublishStatus" DEFAULT 'DRAFT'::public."ProjectPublishStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    status public."ProjectStatus" DEFAULT 'IN_PROGRESS'::public."ProjectStatus" NOT NULL
);


ALTER TABLE public."Project" OWNER TO neondb_owner;

--
-- Name: Reaction; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Reaction" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "postId" text,
    type public."ReactionType" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Reaction" OWNER TO neondb_owner;

--
-- Name: ReferralSubmission; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."ReferralSubmission" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "referralCode" text NOT NULL,
    "referrerId" text NOT NULL,
    email text NOT NULL,
    name text NOT NULL,
    phone text,
    wallet text,
    course text,
    message text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ReferralSubmission" OWNER TO neondb_owner;

--
-- Name: Role; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Role" (
    id text NOT NULL,
    name public."RoleName" NOT NULL,
    description text
);


ALTER TABLE public."Role" OWNER TO neondb_owner;

--
-- Name: Tab; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Tab" (
    id text NOT NULL,
    name text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "order" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Tab" OWNER TO neondb_owner;

--
-- Name: Tag; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Tag" (
    id text NOT NULL,
    name text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Tag" OWNER TO neondb_owner;

--
-- Name: Technology; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Technology" (
    id text NOT NULL,
    title text NOT NULL,
    name text NOT NULL,
    description text NOT NULL,
    href text NOT NULL,
    image text NOT NULL,
    "githubRepo" text,
    "featureCardIds" text[] DEFAULT ARRAY[]::text[],
    "publishStatus" public."ProjectPublishStatus" DEFAULT 'DRAFT'::public."ProjectPublishStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Technology" OWNER TO neondb_owner;

--
-- Name: User; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."User" (
    id text NOT NULL,
    wallet text,
    email text,
    name text,
    image text,
    provider text,
    "referralCode" text,
    "referralCount" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "roleId" text NOT NULL,
    "isBanned" boolean DEFAULT false NOT NULL,
    "bannedUntil" timestamp(3) without time zone
);


ALTER TABLE public."User" OWNER TO neondb_owner;

--
-- Name: VideoSection; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."VideoSection" (
    id text NOT NULL,
    "videoId" text NOT NULL,
    "channelName" text NOT NULL,
    "videoUrl" text NOT NULL,
    title text NOT NULL,
    "thumbnailUrl" text NOT NULL,
    "isFeatured" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."VideoSection" OWNER TO neondb_owner;

--
-- Name: WelcomeModal; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."WelcomeModal" (
    id text NOT NULL,
    title text,
    description text,
    "imageUrl" text,
    "buttonLink" text,
    "startDate" timestamp(3) without time zone,
    "endDate" timestamp(3) without time zone,
    "publishStatus" public."ProjectPublishStatus" DEFAULT 'DRAFT'::public."ProjectPublishStatus" NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."WelcomeModal" OWNER TO neondb_owner;

--
-- Data for Name: AboutContent; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."AboutContent" (id, title, subtitle, description, "youtubeUrl", "buttonText", "buttonUrl", "publishStatus", "isActive", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Comment; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."Comment" (id, "postId", "userId", content, "parentCommentId", "isApproved", "createdAt") FROM stdin;
\.


--
-- Data for Name: Course; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."Course" (id, name, image, title, description, "publishStatus", "isActive", "order", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: EventImages; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."EventImages" (id, location, title, "imageUrl", "publicId", "orderNumber", "createdAt") FROM stdin;
\.


--
-- Data for Name: EventLocation; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."EventLocation" (id, name, "publishStatus", "isActive", "order", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: FeatureCard; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."FeatureCard" (id, title, description, "iconName", "publishStatus", "order", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: LandingContent; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: Media; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: Member; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."Member" (id, name, role, description, image, email, "publishStatus", color, skills, "isActive", "order", "tabId", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Notification; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."Notification" (id, "userId", type, title, message, "isRead", data, "createdAt") FROM stdin;
\.


--
-- Data for Name: Post; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: PostTag; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."PostTag" ("postId", "tagId") FROM stdin;
b5f8af8e-3b8b-4a18-a09c-a77f425d0e40	4cb4fdc6-adc6-4788-b9af-4461048eb3be
b5f8af8e-3b8b-4a18-a09c-a77f425d0e40	3d6045c5-f07f-48b9-a599-4f5f70727cf2
b5f8af8e-3b8b-4a18-a09c-a77f425d0e40	e7e671c0-8385-4ca9-b51f-aea2e9e887c5
\.


--
-- Data for Name: Project; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."Project" (id, title, description, href, year, quarterly, fund, "publishStatus", "createdAt", "updatedAt", status) FROM stdin;
\.


--
-- Data for Name: Reaction; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."Reaction" (id, "userId", "postId", type, "createdAt") FROM stdin;
\.


--
-- Data for Name: ReferralSubmission; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."ReferralSubmission" (id, "userId", "referralCode", "referrerId", email, name, phone, wallet, course, message, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Role; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."Role" (id, name, description) FROM stdin;
49313f95-5c27-4b60-acb4-3a123924269f	ADMIN	\N
b40a9509-efde-4163-a751-ace48a00febe	USER	\N
\.


--
-- Data for Name: Tab; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."Tab" (id, name, "isActive", "order", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Tag; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."Tag" (id, name, "createdAt") FROM stdin;
4cb4fdc6-adc6-4788-b9af-4461048eb3be	Education	2025-09-28 14:54:47.873
a0268ccf-639e-49e7-b16e-e2e616a844b7	Blockchain	2025-09-28 14:55:01.034
3d6045c5-f07f-48b9-a599-4f5f70727cf2	Cardano	2025-09-28 14:55:06.889
e7e671c0-8385-4ca9-b51f-aea2e9e887c5	Smart contract	2025-09-28 14:55:17.832
8dcbda5e-91d5-4525-b84e-58e0c99ef7d4	Aiken	2025-09-28 14:55:26.216
\.


--
-- Data for Name: Technology; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."Technology" (id, title, name, description, href, image, "githubRepo", "featureCardIds", "publishStatus", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: VideoSection; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: WelcomeModal; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."WelcomeModal" (id, title, description, "imageUrl", "buttonLink", "startDate", "endDate", "publishStatus", "isActive", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Name: AboutContent AboutContent_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."AboutContent"
    ADD CONSTRAINT "AboutContent_pkey" PRIMARY KEY (id);


--
-- Name: Comment Comment_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Comment"
    ADD CONSTRAINT "Comment_pkey" PRIMARY KEY (id);


--
-- Name: Course Course_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Course"
    ADD CONSTRAINT "Course_pkey" PRIMARY KEY (id);


--
-- Name: EventImages EventImages_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."EventImages"
    ADD CONSTRAINT "EventImages_pkey" PRIMARY KEY (id);


--
-- Name: EventLocation EventLocation_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."EventLocation"
    ADD CONSTRAINT "EventLocation_pkey" PRIMARY KEY (id);


--
-- Name: FeatureCard FeatureCard_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."FeatureCard"
    ADD CONSTRAINT "FeatureCard_pkey" PRIMARY KEY (id);


--
-- Name: LandingContent LandingContent_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."LandingContent"
    ADD CONSTRAINT "LandingContent_pkey" PRIMARY KEY (id);


--
-- Name: Media Media_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Media"
    ADD CONSTRAINT "Media_pkey" PRIMARY KEY (id);


--
-- Name: Member Member_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Member"
    ADD CONSTRAINT "Member_pkey" PRIMARY KEY (id);


--
-- Name: Notification Notification_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_pkey" PRIMARY KEY (id);


--
-- Name: PostTag PostTag_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."PostTag"
    ADD CONSTRAINT "PostTag_pkey" PRIMARY KEY ("postId", "tagId");


--
-- Name: Post Post_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Post"
    ADD CONSTRAINT "Post_pkey" PRIMARY KEY (id);


--
-- Name: Project Project_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Project"
    ADD CONSTRAINT "Project_pkey" PRIMARY KEY (id);


--
-- Name: Reaction Reaction_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Reaction"
    ADD CONSTRAINT "Reaction_pkey" PRIMARY KEY (id);


--
-- Name: ReferralSubmission ReferralSubmission_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."ReferralSubmission"
    ADD CONSTRAINT "ReferralSubmission_pkey" PRIMARY KEY (id);


--
-- Name: Role Role_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Role"
    ADD CONSTRAINT "Role_pkey" PRIMARY KEY (id);


--
-- Name: Tab Tab_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Tab"
    ADD CONSTRAINT "Tab_pkey" PRIMARY KEY (id);


--
-- Name: Tag Tag_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Tag"
    ADD CONSTRAINT "Tag_pkey" PRIMARY KEY (id);


--
-- Name: Technology Technology_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Technology"
    ADD CONSTRAINT "Technology_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: VideoSection VideoSection_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."VideoSection"
    ADD CONSTRAINT "VideoSection_pkey" PRIMARY KEY (id);


--
-- Name: WelcomeModal WelcomeModal_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."WelcomeModal"
    ADD CONSTRAINT "WelcomeModal_pkey" PRIMARY KEY (id);


--
-- Name: AboutContent_createdAt_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "AboutContent_createdAt_idx" ON public."AboutContent" USING btree ("createdAt");


--
-- Name: AboutContent_isActive_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "AboutContent_isActive_idx" ON public."AboutContent" USING btree ("isActive");


--
-- Name: AboutContent_publishStatus_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "AboutContent_publishStatus_idx" ON public."AboutContent" USING btree ("publishStatus");


--
-- Name: Comment_createdAt_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Comment_createdAt_idx" ON public."Comment" USING btree ("createdAt");


--
-- Name: Comment_postId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Comment_postId_idx" ON public."Comment" USING btree ("postId");


--
-- Name: Comment_userId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Comment_userId_idx" ON public."Comment" USING btree ("userId");


--
-- Name: Course_createdAt_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Course_createdAt_idx" ON public."Course" USING btree ("createdAt");


--
-- Name: Course_isActive_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Course_isActive_idx" ON public."Course" USING btree ("isActive");


--
-- Name: Course_name_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "Course_name_key" ON public."Course" USING btree (name);


--
-- Name: Course_order_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Course_order_idx" ON public."Course" USING btree ("order");


--
-- Name: Course_publishStatus_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Course_publishStatus_idx" ON public."Course" USING btree ("publishStatus");


--
-- Name: EventImages_createdAt_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "EventImages_createdAt_idx" ON public."EventImages" USING btree ("createdAt");


--
-- Name: EventImages_orderNumber_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "EventImages_orderNumber_idx" ON public."EventImages" USING btree ("orderNumber");


--
-- Name: EventLocation_createdAt_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "EventLocation_createdAt_idx" ON public."EventLocation" USING btree ("createdAt");


--
-- Name: EventLocation_isActive_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "EventLocation_isActive_idx" ON public."EventLocation" USING btree ("isActive");


--
-- Name: EventLocation_name_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "EventLocation_name_key" ON public."EventLocation" USING btree (name);


--
-- Name: EventLocation_order_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "EventLocation_order_idx" ON public."EventLocation" USING btree ("order");


--
-- Name: EventLocation_publishStatus_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "EventLocation_publishStatus_idx" ON public."EventLocation" USING btree ("publishStatus");


--
-- Name: FeatureCard_createdAt_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "FeatureCard_createdAt_idx" ON public."FeatureCard" USING btree ("createdAt");


--
-- Name: FeatureCard_order_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "FeatureCard_order_idx" ON public."FeatureCard" USING btree ("order");


--
-- Name: FeatureCard_publishStatus_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "FeatureCard_publishStatus_idx" ON public."FeatureCard" USING btree ("publishStatus");


--
-- Name: LandingContent_createdAt_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "LandingContent_createdAt_idx" ON public."LandingContent" USING btree ("createdAt");


--
-- Name: LandingContent_isActive_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "LandingContent_isActive_idx" ON public."LandingContent" USING btree ("isActive");


--
-- Name: LandingContent_order_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "LandingContent_order_idx" ON public."LandingContent" USING btree ("order");


--
-- Name: LandingContent_publishStatus_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "LandingContent_publishStatus_idx" ON public."LandingContent" USING btree ("publishStatus");


--
-- Name: LandingContent_section_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "LandingContent_section_idx" ON public."LandingContent" USING btree (section);


--
-- Name: LandingContent_section_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "LandingContent_section_key" ON public."LandingContent" USING btree (section);


--
-- Name: Media_type_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Media_type_idx" ON public."Media" USING btree (type);


--
-- Name: Media_uploadedAt_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Media_uploadedAt_idx" ON public."Media" USING btree ("uploadedAt");


--
-- Name: Media_uploadedBy_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Media_uploadedBy_idx" ON public."Media" USING btree ("uploadedBy");


--
-- Name: Member_createdAt_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Member_createdAt_idx" ON public."Member" USING btree ("createdAt");


--
-- Name: Member_isActive_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Member_isActive_idx" ON public."Member" USING btree ("isActive");


--
-- Name: Member_order_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Member_order_idx" ON public."Member" USING btree ("order");


--
-- Name: Member_publishStatus_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Member_publishStatus_idx" ON public."Member" USING btree ("publishStatus");


--
-- Name: Member_tabId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Member_tabId_idx" ON public."Member" USING btree ("tabId");


--
-- Name: Notification_createdAt_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Notification_createdAt_idx" ON public."Notification" USING btree ("createdAt");


--
-- Name: Notification_isRead_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Notification_isRead_idx" ON public."Notification" USING btree ("isRead");


--
-- Name: Notification_userId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Notification_userId_idx" ON public."Notification" USING btree ("userId");


--
-- Name: Post_authorId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Post_authorId_idx" ON public."Post" USING btree ("authorId");


--
-- Name: Post_createdAt_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Post_createdAt_idx" ON public."Post" USING btree ("createdAt");


--
-- Name: Post_slug_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Post_slug_idx" ON public."Post" USING btree (slug);


--
-- Name: Post_slug_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "Post_slug_key" ON public."Post" USING btree (slug);


--
-- Name: Post_status_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Post_status_idx" ON public."Post" USING btree (status);


--
-- Name: Project_createdAt_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Project_createdAt_idx" ON public."Project" USING btree ("createdAt");


--
-- Name: Project_publishStatus_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Project_publishStatus_idx" ON public."Project" USING btree ("publishStatus");


--
-- Name: Project_status_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Project_status_idx" ON public."Project" USING btree (status);


--
-- Name: Project_year_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Project_year_idx" ON public."Project" USING btree (year);


--
-- Name: Reaction_userId_postId_type_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "Reaction_userId_postId_type_key" ON public."Reaction" USING btree ("userId", "postId", type);


--
-- Name: ReferralSubmission_createdAt_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "ReferralSubmission_createdAt_idx" ON public."ReferralSubmission" USING btree ("createdAt");


--
-- Name: ReferralSubmission_referralCode_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "ReferralSubmission_referralCode_idx" ON public."ReferralSubmission" USING btree ("referralCode");


--
-- Name: ReferralSubmission_referrerId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "ReferralSubmission_referrerId_idx" ON public."ReferralSubmission" USING btree ("referrerId");


--
-- Name: ReferralSubmission_userId_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "ReferralSubmission_userId_key" ON public."ReferralSubmission" USING btree ("userId");


--
-- Name: Role_name_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "Role_name_key" ON public."Role" USING btree (name);


--
-- Name: Tab_createdAt_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Tab_createdAt_idx" ON public."Tab" USING btree ("createdAt");


--
-- Name: Tab_isActive_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Tab_isActive_idx" ON public."Tab" USING btree ("isActive");


--
-- Name: Tab_order_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Tab_order_idx" ON public."Tab" USING btree ("order");


--
-- Name: Tag_name_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Tag_name_idx" ON public."Tag" USING btree (name);


--
-- Name: Technology_createdAt_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Technology_createdAt_idx" ON public."Technology" USING btree ("createdAt");


--
-- Name: Technology_publishStatus_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Technology_publishStatus_idx" ON public."Technology" USING btree ("publishStatus");


--
-- Name: User_createdAt_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "User_createdAt_idx" ON public."User" USING btree ("createdAt");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: User_isBanned_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "User_isBanned_idx" ON public."User" USING btree ("isBanned");


--
-- Name: User_provider_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "User_provider_idx" ON public."User" USING btree (provider);


--
-- Name: User_referralCode_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "User_referralCode_idx" ON public."User" USING btree ("referralCode");


--
-- Name: User_referralCode_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "User_referralCode_key" ON public."User" USING btree ("referralCode");


--
-- Name: User_wallet_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "User_wallet_key" ON public."User" USING btree (wallet);


--
-- Name: WelcomeModal_createdAt_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "WelcomeModal_createdAt_idx" ON public."WelcomeModal" USING btree ("createdAt");


--
-- Name: WelcomeModal_isActive_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "WelcomeModal_isActive_idx" ON public."WelcomeModal" USING btree ("isActive");


--
-- Name: WelcomeModal_publishStatus_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "WelcomeModal_publishStatus_idx" ON public."WelcomeModal" USING btree ("publishStatus");


--
-- Name: Comment Comment_parentCommentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Comment"
    ADD CONSTRAINT "Comment_parentCommentId_fkey" FOREIGN KEY ("parentCommentId") REFERENCES public."Comment"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Comment Comment_postId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Comment"
    ADD CONSTRAINT "Comment_postId_fkey" FOREIGN KEY ("postId") REFERENCES public."Post"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Comment Comment_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Comment"
    ADD CONSTRAINT "Comment_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Media Media_postId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Media"
    ADD CONSTRAINT "Media_postId_fkey" FOREIGN KEY ("postId") REFERENCES public."Post"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Media Media_uploadedBy_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Media"
    ADD CONSTRAINT "Media_uploadedBy_fkey" FOREIGN KEY ("uploadedBy") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Member Member_tabId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Member"
    ADD CONSTRAINT "Member_tabId_fkey" FOREIGN KEY ("tabId") REFERENCES public."Tab"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Notification Notification_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: PostTag PostTag_postId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."PostTag"
    ADD CONSTRAINT "PostTag_postId_fkey" FOREIGN KEY ("postId") REFERENCES public."Post"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: PostTag PostTag_tagId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."PostTag"
    ADD CONSTRAINT "PostTag_tagId_fkey" FOREIGN KEY ("tagId") REFERENCES public."Tag"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Post Post_authorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Post"
    ADD CONSTRAINT "Post_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Reaction Reaction_postId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Reaction"
    ADD CONSTRAINT "Reaction_postId_fkey" FOREIGN KEY ("postId") REFERENCES public."Post"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Reaction Reaction_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Reaction"
    ADD CONSTRAINT "Reaction_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ReferralSubmission ReferralSubmission_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."ReferralSubmission"
    ADD CONSTRAINT "ReferralSubmission_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: User User_roleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES public."Role"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO neon_superuser WITH GRANT OPTION;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON TABLES TO neon_superuser WITH GRANT OPTION;


--
-- PostgreSQL database dump complete
--

